html {
    height: 100%;
    font-size: 62.5%;

    * & {
      margin-top: 0 !important;
}
}

body {
    @include BentonSans;
    height: 100%;
    background: #fff;
    color: #6c6c6c;
    @include font-size(15);
    line-height: 1.6;
    min-width: 300px;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #6c6c6c;
}

h1, h2, h3, h4 {
    @include Freight;
    color: #000;
}

h1 { 
    @include font-size(58); 
}
h2 { 
    @include font-size(52); 
}
h3 { 
    @include font-size(46); 
}
h4 { 
    @include font-size(40); 
}
h5 { 
    @include font-size(36); 
}
h6 { 
    @include font-size(30); 
}

blockquote {
    @include Freight-Italic;
    @include font-size(18);

    &:before, &:after {
        content: '"';
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    text-transform: uppercase;
    @include font-size (12);
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    min-width: 150px;
    padding: 0.5em 1em;
    color: #555;
    text-align: center;
    @include BentonSans-Bold;
    line-height: 2;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;

    &:hover,
    &:focus{
        color: #333;
        border-color: #888;
        outline: 0;
    }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    padding: .7em;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    &:focus {
        border: 1px solid #363636;
        outline: 0;
    }
}

textarea {
    min-height: 65px;
}

select {
    -moz-appearance:button;
    -webkit-appearance:button;
    background:#fff;
    background-image: url(../images/backgrounds/select_arrow.png);
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-padding-end: 30px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
}



fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

address {
    font-style: normal;
}



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: none; 
}

ol {
    list-style: decimal inside; 
}

ol, ul {
    padding-left: 0;
    margin-top: 0; 
}

ul ul,
ul ol,
ol ol,
ol ul {
    font-size: 90%;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
}

th:first-child,
td:first-child {
  padding-left: 0; 
}

th:last-child,
td:last-child {
  padding-right: 0; 
}