@font-face {
    font-family: 'BentonSans';
    src: url('fonts/benton/BentonSans-Regular.eot');
    src: url('fonts/benton/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
     url('fonts/benton/BentonSans-Regular.woff2') format('woff2'),
     url('fonts/benton/BentonSans-Regular.woff') format('woff'),
     url('fonts/benton/BentonSans-Regular.ttf') format('truetype'),
     url('fonts/benton/BentonSans-Regular.svg#bentonsansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@mixin BentonSans {
    font-family: 'BentonSans', sans-serif;
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'BentonSans-Bold';
     src: url('fonts/benton/BentonSans-Bold.eot');
     src: url('fonts/benton/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/benton/BentonSans-Bold.woff2') format('woff2'),
     url('fonts/benton/BentonSans-Bold.woff') format('woff'),
     url('fonts/benton/BentonSans-Bold.ttf') format('truetype'),
     url('fonts/benton/BentonSans-Bold.svg#bentonsansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@mixin BentonSans-Bold {
    font-family: 'BentonSans-Bold', sans-serif;
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: 'BentonSans-Light';
    src: url('fonts/benton/BentonSans-Light.eot');
    src: url('fonts/benton/BentonSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/benton/BentonSans-Light.woff2') format('woff2'),
    url('fonts/benton/BentonSans-Light.woff') format('woff'),
    url('fonts/benton/BentonSans-Light.ttf') format('truetype'),
    url('fonts/benton/BentonSans-Light.svg#bentonsanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@mixin BentonSans-Light {
    font-family: 'BentonSans-Light', sans-serif;
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: 'Freight';
    src: url('fonts/freight/FreightDispProMedium-Regular.eot');
    src: url('fonts/freight/FreightDispProMedium-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/freight/FreightDispProMedium-Regular.woff2') format('woff2'),
    url('fonts/freight/FreightDispProMedium-Regular.woff') format('woff'),
    url('fonts/freight/FreightDispProMedium-Regular.ttf') format('truetype'),
    url('fonts/freight/FreightDispProMedium-Regular.svg#freightdisppromediumregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@mixin Freight {
    font-family: 'Freight', 'Georgia', sans-serif;
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Freight-Italic';
    src: url('fonts/freight/FreightDispProMedium-Italic.eot');
    src: url('fonts/freight/FreightDispProMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/freight/FreightDispProMedium-Italic.woff2') format('woff2'),
    url('fonts/freight/FreightDispProMedium-Italic.woff') format('woff'),
    url('fonts/freight/FreightDispProMedium-Italic.ttf') format('truetype'),
    url('fonts/freight/FreightDispProMedium-Italic.svg#freightdisppromediumitalic') format('svg');
    font-weigh: italic;
    font-style: normal;
}

@mixin Freight-Italic {
    font-family: 'Freight-Italic', 'Georgia', sans-serif;
    font-weight: 400;
    font-style: italic; 
}