@font-face {
  font-family: 'icons';
  src:  url('fonts/icons/icons.eot?gdnkge');
  src:  url('fonts/icons/icons.eot?gdnkge#iefix') format('embedded-opentype'),
    url('fonts/icons/icons.ttf?gdnkge') format('truetype'),
    url('fonts/icons/icons.woff?gdnkge') format('woff'),
    url('fonts/icons/icons.svg?gdnkge#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-call:before {
  content: "\e908";
}
.icon-caret-down:before {
  content: "\e909";
}
.icon-caret-up:before {
  content: "\e90a";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-circle-arrow-down:before {
  content: "\e90c";
}
.icon-circle-arrow-left:before {
  content: "\e90d";
}
.icon-circle-arrow-right:before {
  content: "\e90e";
}
.icon-circle-arrow-up:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e910";
}
.icon-pinterest:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}

