/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 175px;
    background : transparent;
    z-index: 9999;

    .logo-container {
        position: absolute;
        bottom: 0;
        left: 65px;
        max-width: 100px;
    }
}

/* Main-Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:0;
    height:100%;
    top:0;
    bottom:0;
    right: 0;
    opacity: 0;
    z-index:9999;
    background: #BE202E;
    transition: all 0.5s ease-in-out;

    &.panel-open {
        width:100%;
        opacity: 1;
    }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
    background: #242939;
    padding: 5em 4em;
    color: #c5c5c5;
    overflow: auto;

    .footer-widgets {
        text-align: center;
    
        .widget {
            padding: 2em 3em;
            margin: 0 1em;
            display: inline-block;
            text-align: left;
            vertical-align: top;


            .open-time {
                text-transform: uppercase;
            }

            h4 {
                @include BentonSans-Light;
                @include font-size(25);
                color: #fff;
            }

            hr {
                border-color: #6c6c6c;
            }

            .adress li:first-child {
                color: #fff;
            }

            .phone {
                margin-top: 1em;
            }

            .button-secondary {
                @include font-size(12);
                text-align: center;
                letter-spacing: 1.2px;
                padding: 0.2em 1em;
                margin: 3em 0;
            }

            .clock {
                @include BentonSans-Light;
                @include font-size(25);
            }

            &:last-child {
                text-align: right;
            }
        }

    }
}