/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// breakpoints map
$breakpoints: (
    xs: 32rem,
    sm: 48rem,
    md: 72rem,
    lg: 96rem,
    xl: 102rem,
    xx: 120rem
);

// media query mixin
@mixin break($size) {  
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

// number of columns variable
$items: 12;

// grid container
.grid {
    display: flex;
    flex-flow: row wrap;
}

// loop over the breakpoints
@each $key, $value in $breakpoints {
    @for $i from 1 through $items {
        .grid__item--#{$key}-span-#{$i} {
            flex: 0 0 100%;
            @include break($key) {
                flex: 0 0 #{$i / $items * 100%};
            }
        }
    }
}

/* Paragraphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.lead {
    @include BentonSans-Light;
    @include font-size(22);
}

/* Alignements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Menu Toggle
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.panel-button {
    width:55px;
    height:55px;
    margin:0;
    position:absolute;
    bottom: 22.5px;
    right: 87.5px;
    cursor:pointer;
    background:#fff;
    border-radius:50%;
    transition:.4s ease-in-out;

    span {
        display:block;
        background:#000;
        border-radius:2px;
        transition:.25s ease-in-out;
    }

    &.panel-open {
        background: transparent;

        span {
            background:#fff;
        }
    }

    .hamburger {
        position:absolute;
        height:100%;
        width:100%;

        span {
            width: 25px;
            height: 2px;
            position: relative;
            top: 15px;
            left: 15px;
            margin: 5px 0;

            &:nth-child(1){
                transition-delay:.5s;
            }
            &:nth-child(2){
                transition-delay:.625s;
            }
            &:nth-child(3){
                transition-delay:.75s;
            }
        }
    }
    .cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);

        span{
            &:nth-child(1){
                height:0%;
                width:2px;
                position:absolute;
                top: 16px;
                left: 50%;
                transition-delay:0s;
            }
            &:nth-child(2){
                width:0%;
                height:2px;
                position:absolute;
                left: 16px;
                top: 50%;
                transition-delay:.25s;
            }
        }
    }
}

.panel-button.panel-open {
    .hamburger {
        span {
            width:0%;
            &:nth-child(1){
                transition-delay:0s;
            }
            &:nth-child(2){
                transition-delay:.125s;
            }
            &:nth-child(3){
                transition-delay:.25s;
            }
        }
  }

  .cross {
    span {
        &:nth-child(1){
            height:45%;
            transition-delay:.625s;
        }
    }
    span {
        &:nth-child(2){
            width:45%;
            transition-delay:.375s;
        }
    }    
  }
}

.primary-navigation {

    li{
        text-align: left;
        line-height: 40px;
        display: inline-block;
        padding: 0 3em;
        vertical-align: top;

        &.current a {
            color: #fff;

            &:hover, &:focus {
                color: #d94f5c;
            }

            &::after, &::before {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            &::before {
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
        }

        a {
            position: relative;
            @include Freight;
            @include font-size(40);
            margin: 0 0.5em;
            padding: 0;
            color: #ca646f;
            -webkit-transition: color 0.4s;
            transition: color 0.4s;

            &::after, &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                -webkit-transform: scale3d(0, 1, 1);
                transform: scale3d(0, 1, 1);
                -webkit-transform-origin: center left;
                transform-origin: center left;
                -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.41, 0.36, 1);
                transition: transform 0.4s cubic-bezier(0.22, 0.41, 0.36, 1);
            }4
            &:hover, &:focus {
                color: #ca646f;

            }

            &:hover::before,
            &:focus::before {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }

            &::before {
                background: #ca646f;
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }

            &::after {
                background: #fff;
            }
        }

    }
    .sub-menu {
        padding: 1em 0;

        li {
            display: block;
            padding: 0 1em;

            > a {
                @include BentonSans-Light;
                @include font-size(20);
            }
        }
    }
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    display: inline-block;
    min-width: 150px;
    padding: .5em 1em;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

    &:focus {
        outline: none;
    }
}

.button-primary {
    @extend .button;
    background: transparent;
    color: #000;
    border: 1px solid #000;

    &:hover {
        background: #000;
        color: #fff;
    }

}

.button-secondary {
    @extend .button;
    background: #fff;
    border: 1px solid #fff;

    &:hover {
        background: transparent;
        color: #fff;

    }

}

.arrow-right:after {
    @include icon(arrow-right);
    padding-left: 0.5em;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.field {
    input, textarea, select {
    margin-bottom: 0.8em;
    }

    label {
        margin: 0;
    }
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .hero-title {
          position: absolute;
          left: 65px;
          color: #fff;

          h1 {
                color: #fff;

            span {
                background: #BE202E;
                padding: 0 5px;
            }
          }
    }
}

section {
    padding: 6em 0 5em;

    &.text-light .section-title, 
    &.text-light .section-subtitle, 
    &.text-light p {
        color: #fff;
    }

    &.text-light .button-primary {
        border-color: #fff;
        background: transparent;
        color: #fff;
    }

    &.text-light .button-primary:hover {
        background: #fff;
        color: #6c6c6c;
    }

    &.blue {
        background: #252839;
    }

    &.background {
        background-size: cover;
        background-position: center;

        .button-secondary {
            @include font-size(12);
            letter-spacing: 1.2px;
            margin: 3em 0;
        }
    }

    .video {
        padding: 5em 0 6em;

        h5 {
            @include BentonSans-Bold;
            @include font-size(14);
            color: #000;
            margin-bottom: 1.5em;
        }
    }

}

.section-header {
    margin-bottom: 1em;

    .section-title {
        @include BentonSans-Light;
        @include font-size(17);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .section-subtitle {
        @font-size (60);
    }
}

/* Cta
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.read-more {
    display: block;
    margin: 2em auto 0 auto;
    @include font-size(18);
    text-decoration: none;
    color: #363636;

    &:after {
        @include icon(chevron-down);
        display: block;
        width: 45px;
        height: 20px;
        margin: 5px auto;
    }
}
