/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.expander {
    @extend section;

    .grid {
        padding: 4em 0;
    }
    .grid__item {

        .inner-container {
            background: #2E2E3D;
            padding: 2em 1em 3em;
            margin: 0 1em;
        }

        h3 {
            line-height: 1;
        }
    }

    .button-primary {
        @include font-size(12);
        letter-spacing: 1.2px;
    }

}

.ping-pong {
     @extend section;

    padding: 0;

    .imagery {
        background-size: cover;
        background-position: center;
        height: 700px;
    }

    .entry-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
        padding: 0 8em;

        &.grey {
            background: #e7f1f5;
        }
        &.sand {
            background: #eae7e0;
        }
        &.smoke {
            background: #f6f7f7;
        }

        .section-title {
            transform: translateY(-250%);
        }

        .button-primary {
            @include font-size (12);
            max-width: 200px;
            margin-top: 2.5em;
            letter-spacing: 1.2px;
        }
    }
}

.get_in_touch {
    @extend section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.home_project {
    @extend section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 0;
    height: 450px;

    .square {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: right;
        background: #fff;
        @include size(350px);
        padding: 3em;

        .project_category {
            @include BentonSans;
            @include font-size(16);
            padding-right: 40px;
            text-transform: uppercase;
            color: #757575;
        }

        .project_name {
            @include BentonSans;
            @include font-size(30);
            text-transform: uppercase;
            margin-bottom: 1.5em;
            
            &:after {
                font-family: 'themify';
                content: "\e649";
                color: #757575;
                @include font-size(22);
                padding-left: 20px;
            }
        }

        .description {
            padding-right: 40px;
            color: #757575;
        }
    }
}

.insights {
    @extend section;
    background: #f8f8f8;
    padding-right: 5em;
    padding-left: 5em;

    .grid__item {

        .inner-container {
            margin: 0 1em;
        }

        .content {
            position: relative;
            background: #fff;
            padding: 2em;
            transition:.4s ease-in-out;

            .category {
                position: absolute;
                top: -25px;
                text-transform: uppercase;
                width: 100%;
                z-index: 99;
                background: transparent;

                span {
                    @include font-size(12);
                    letter-spacing: 1px;
                    background: #252839;
                    color: #fff;
                    padding: 0.5em;
                    transition:.4s ease-in-out;
                }
            }

            .date {
                display: block;
                color: #000;
                margin-bottom: 1em;
            }

            h4 {
                @include font-size(30);
                line-height: 1.2;
                margin-bottom: 0.5em;
            }
        }

        &:hover {

            .content {
                background: #252839;
            }

            .date, h4, p {
                color: #fff
            }

            .category span {
                background: #fff;
                color: #252839;
            }
        }

    }
}

.newsletter {
    @extend section;
    background: #be1e2e;
    padding: 6em 0;

    .section-header {
        margin-bottom: 3em;
    }

    input[type="email"] {
        display: inline-block;
        float: left;
        width: 60%;
        padding: 1em;
        border: 0px;
        margin-bottom: 0;
    }

    button[type="submit"] {
        border-radius: 0px;
        @include BentonSans;
    }

    .grid__item:last-child {
        display: flex;
        align-items: flex-end;
    }
}

.contact_us {
    @extend section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 0;
    height: 800px;

    .center-block {
        background: #fff;
        max-width: 600px;
        padding: 3em;
        margin: 0 auto;

        .section-header {
            margin-bottom: 4em;
        }

        .button-primary {
            @include font-size(12);
            line-height: 1.6;
            margin: 0 0.5em;

            &:before {
                font-family: 'themify';
                display: block;
                font-size: 25px;
                margin: 0 auto;
            }

            &:nth-child(1):before {
                content: "\e75a";
            }
            &:nth-child(2):before {
                content: "\e719";
            }
            &:nth-child(3):before {
                content: "\e643";
            }
        }


    }

}

/* ABout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.locations {
    padding: 5em 0;

    table {
        width: 100%;

        tr:last-child {
            td {
                border-bottom: 0px;
            }
        }

        td {
            border-right: 1px solid #e1e1e1;

            &:last-child {
                        border-right: 0px;
            }

            h5 {
                @include Freight;
                @include font-size(25);
                color: #000;
            }
        }

        .flip-container {
            perspective: 1000px;
            padding: 0;

            &:hover .flipper, .flip-container.hover .flipper {
                transform: rotateY(180deg);
            }

            .flipper {
                transition: 0.6s;
                transform-style: preserve-3d;
                position: relative;

                .front, .back {
                    backface-visibility: hidden;

                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .front {
                    z-index: 2;
                    transform: rotateY(0deg);
                    padding: 1em;
                }

                .back {
                    transform: rotateY(180deg);
                }
            }
        }

        .flip-container, .front, .back {
            width: 280px;
            height: 250px;
            vertical-align: baseline;
        }
    }
}